body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
/*  background-image: url("http://localhost:3000/images/student-background3.jpg"); */
}

a {
  color: #00B7FF;
}

.ng-invalid {
    border-color: green;
    outline-color: green;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}

input.form-fixer {
    padding: 8px;
    font-size: 14px;
    height: 28px;
}

select.form-fixer {
    padding: 4px;
    font-size: 14px;
    height: 28px;
}

.form-horizontal .form-group input, 
.form-horizontal .form-group select,
.form-horizontal .form-group label
 { 
    height: 14px;
    line-height: 14px;
}

label {
  font-size: 19px;
  color: darkcyan
}

h2 {
  color: darkcyan;
}

h3, h4 {
  color: darkcyan
}

.btn-xlarge {
    color: darkcyan;
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

hr{
  border-top: 1px dashed darkcyan;
}

div.ex1 {
    direction: rtl;
    unicode-bidi: bidi-override;
}
  
.well{
    background: rgba(245, 245, 245, 1);
    margin-bottom: 3px;
    margin-top: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.well.custom-well {
  min-height: 458px;
  background: rgba(245, 245, 245, 1);
}

.centerBlock {
  display: table;
  margin: auto;
}

