<navigation></navigation>

<div class="container text-right">
  <div class="row">
    <div class="col-md-4 pull-right"></div>
    <div class="col-md-4 pull-right">
      <div ng-if="!vm.formValid" class="text-danger">!אנא מלאו את כל השדות</div>
      <div ng-if="vm.formValid && !vm.passwordValid" class="text-danger">!סיסמה שגויה</div>
      <h1 class="form-signin-heading">:כניסה</h1>
      <form name="registrationForm" novalidate ng-submit="vm.submit(registrationForm.$valid)" ">
        <div class="form-group text-right ">
          <h3>:כתובת אימייל</h3>
          <input type="email " name="email " class="form-control text-right " id="email " ng-model="vm.credentials.email " required>
          <div ng-messages="registrationForm.email.$error " ng-messages-include="/src/messages.html "></div>
        </div>
        <div class="form-group text-right ">
          <h3>:סיסמה</h3>
          <input type="password" name="password" class="form-control text-right" ng-model="vm.credentials.password" required>
          <div ng-messages="registrationForm.password.$error " ng-messages-include="/src/messages.html "></div>
        </div>
        <p class="lead ">עדיין לא רשום? <a href="register ">תירשם </a> כדי להשתמש</p>
        <button type="submit " class="btn btn-default ">כניסה</button>
      </form>
    </div>
  </div>
</div>
<div style="height:100px "></div>