<br>
<div class="row">
    <div class="col-md-6 pull-right">
        <div dir="rtl" class="well well-lg">
            <h2>פתור תרגיל:</h2>
            <div ng-repeat="obj in vm.exercise.exe.body">
                <div ng-if="obj.type == 'picture'">
                    <img ng-src="{{obj.content}}">
                </div>
                <div class="ex1" ng-if="obj.type == 'text'">
                    {{obj.content}}
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-6 pull-right">
        <div dir="rtl" class="well well-lg">
            <div ng-if="vm.exercise.exe.solutions.length > 1">
                <p><h2>בחר תשובה נכונה:</h2></p>
                <div ng-repeat="obj in vm.exercise.exe.solutions" id="{{obj.solution}}">
                    <div class="ex1">
                        <input type="radio" name="obj" ng-click="vm.handleRadioClick($index)" ng-model="selectedValue.solution" value="{{obj.solution}}"
                        />&nbsp;&nbsp;
                        <label>{{obj.solution}}</label>
                    </div>
                </div>
            </div>      
            <div ng-show="vm.exercise.exe.solutions.length == 1">
                <p><h2>הכנס תשובה:</h2></p>
                <span math-jax-bind="vm.openSolution"></span>
                <div ng-include="'/student/math.keyboard.view.html'"></div>
            </div>
            <div class="centerBlock">
                <button type="button" class="btn btn-warning pull-right" ng-click="vm.checkAnswer()" data-toggle="modal" data-target="#myModal">סיים תרגיל</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" ng-click="vm.assistant = 'picture_solution'" data-toggle="modal" data-target="#assistanceDialog">הצג פתרון</button>&nbsp;   
                <button class="btn btn-info" ng-click="vm.getSampleSolutionVideo()" data-toggle="modal" data-target="#assistanceDialog">וידאו פתרונות לדוגמה</button>&nbsp;
                <button class="btn btn-info" ng-click="vm.getTutorialVideo()" data-toggle="modal" data-target="#assistanceDialog">וידאו הדרכה</button>&nbsp;
                <div ng-include="'/student/assistance.dialog.html'"></div>
                <div ng-include="'/student/next.step.dialog.html'"></div>
            </div>      
        </div>
    </div>
</div>


