<br>
<div ng-if="!vm.selectedAssignmentDone && vm.exercise.properties.resumeOriginalAssignment == true">
    <div class="col-md-12 pull-right">
        <div dir="rtl" class="well well-lg">
            <div class="text-center">
                <h3>חזרת למשימה המקורית&nbsp;&nbsp;&nbsp;&nbsp;<span><button class="btn btn-primary" ng-click="vm.exercise.properties.resumeOriginalAssignment = 'false'">המשך</button></span></h3>
                <img ng-src="http://localhost:3000/images/back-to-original-subsubject.jpg">
            </div>
        </div>
    </div>
</div>
<div ng-if="!vm.selectedAssignmentDone && vm.exercise.properties.resumeOriginalAssignment != true" class="row">
    <div class="col-md-6 pull-right">
        <div dir="rtl" class="well well-lg">
            <h3 ng-if="vm.atOriginalSubSubject()" >שם המשימה: {{vm.selectedAssignment.subSubject[0].name}}</h3>
            <div ng-if="!vm.atOriginalSubSubject()">
                <h3>שם המשימה: {{vm.selectedAssignment.subSubject[0].name}} (תירגול: {{vm.exercise.properties.subSubjectName}})&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span><button class="btn btn-primary" ng-click="vm.goBackToOriginalSubSubject()">חזור למשימה המקורית</button>&nbsp;</span></h3> 
            </div>
            <h3>פתור תרגיל:</h3>
            <div ng-repeat="obj in vm.exercise.body">
                <div ng-if="obj.type == 'picture'">
                    <img ng-src="{{obj.content}}">
                </div>
                <div class="ex1" ng-if="obj.type == 'text'">
                    {{obj.content}}
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-6 pull-right">
        <div dir="rtl" class="well well-lg">
            <div ng-if="vm.exercise.solutions.length > 1">
                <p><h3>בחר תשובה נכונה:</h3></p>
                <div ng-repeat="obj in vm.exercise.solutions" id="{{obj.solution}}">
                    <div class="ex1">
                        <input type="radio" name="obj" ng-click="vm.handleRadioClick($index)" ng-model="selectedValue.solution" value="{{obj.solution}}"
                        />&nbsp;&nbsp;
                        <label>{{obj.solution}}</label>
                    </div>
                </div>
            </div>      
            <div ng-show="vm.exercise.solutions.length == 1">
                <div class="row">
                    <div class="col-md-4 pull-right">
                        <p><h3>הכנס תשובה:</h3></p>
                        <input type="text" dir="rtl" ng-model="vm.openSolution" class="form-control form-fixer"/>
                    </div>
                </div>
                <!--
                <div ng-if="vm.sqrtMode">
                    <input type="text" dir="rtl" ng-model="vm.sqrtValue" class="form-control form-fixer"/><br>
                    <button class="btn btn-info" ng-click="vm.sqrtUpdate()">Done</button>&nbsp;<br>
                </div>
                <span math-jax-bind="vm.openSolution" ng-model="vm.openSolutionRaw" watch-selection ng-cloak></span>
                <div ng-include="'/student/math.keyboard.view.html'"></div>
                -->
            </div>
            <br><br>
            <button type="button" class="btn btn-warning pull-right" ng-click="vm.checkAnswer()" data-toggle="modal" data-target="#myModal">סיים תרגיל</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" ng-click="vm.showSolution()" data-toggle="modal" data-target="#assistanceDialog">הצג פתרון</button>&nbsp;   
            <button type="button" class="btn btn-info" ng-click="vm.getSampleSolutionVideo()" data-toggle="modal" data-target="#assistanceDialog">וידאו פתרונות לדוגמה</button>&nbsp;
            <button type="button" class="btn btn-info" ng-click="vm.getTutorialVideo()" data-toggle="modal" data-target="#assistanceDialog">וידאו הדרכה</button>&nbsp;
            <div ng-include="'/student/assistance.dialog.html'"></div>
            <div ng-include="'/student/next.step.dialog.html'"></div>
        </div>
    </div>
</div>
<div ng-if="vm.selectedAssignmentDone" class="row">
    <div class="col-md-12 pull-right">
        <div dir="rtl" class="well well-lg">
            <div class="text-center">
                <h3>המשימה הסתיימה</h3>
                <img ng-src="http://localhost:3000/images/assignment-done.jpg">
            </div>
        </div>
    </div>
</div>




