<!-- Modal -->
<div class="modal fade" id="assistanceDialog" role="dialog">
    <div class="modal-dialog" id="assistanceDialogDiv"> 
        <!-- Modal content-->
        <div class="modal-content"  id="assistanceDialogContent">
            <div ng-if="vm.assistant == 'pre_req'">
                <div class="modal-body">
                    <h2 class="h2-dialog">נושאים קשורים:</h2>
                    <div ng-repeat="obj in vm.dependencies" id="{{obj.id}}">
                        <input type="radio" ng-model="vm.preReqNextStep" value="{{obj.id}}"
                        />&nbsp;&nbsp;
                        <label>{{obj.subject}} - {{obj.name}}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="student-submit-button" data-dismiss="modal" ng-click="vm.closeAssistance()">אישור</button>
                    <button type="button" class="student-submit-button" data-dismiss="modal" ng-click="vm.cancelAssistance()">ביטול</button>
                </div>
            </div>
        </div>       
    </div>
</div>