<br>
<div class="form-group text-right">
    <div class="well well-lg">
        <div class="row">
            <p><h2>:הוספת משימה חדשה</h2></p><br>
        </div>
        <div class="row">
            <div class="col-md-1 pull-right">
            </div>
            <div class="col-md-2 pull-right">
                <label>:בחר כיתה</label>
                <select dir="rtl" class="form-control form-fixer" ng-model="vm.schoolGrade" ng-options="idx as schoolGrade for (idx, schoolGrade) in vm.schoolGrades"
                    ng-change="vm.schoolGradeSelected()">
                </select><br>
            </div>
            <div ng-if="vm.schoolGrade >= 0" class="col-md-2 pull-right">
                <label>:בחר תלמידים</label>
                <div ng-dropdown-multiselect="" options="vm.students" selected-model="vm.selectedStudents" translation-texts="vm.studentSelectionTexts"></div>
            </div>
            <div ng-if="vm.selectedStudents.length > 0" class="col-md-2 pull-right">
                <label>:בחר נושא</label>
                <select dir="rtl" name="subject" class="form-control form-fixer" ng-model="vm.subject" ng-options="vm.subjects.indexOf(subject) as subject.name for subject in vm.subjects"
                    ng-change="vm.subjectSelected()">
                </select>
            </div>
            <div ng-if="vm.selectedStudents.length > 0 && vm.subject >= 0" class="col-md-2 pull-right">
                <label>:בחר תת נושא</label>
                <select dir="rtl" class="form-control form-fixer" ng-model="vm.subSubject" ng-options="vm.subSubjects.indexOf(subSubject) as subSubject.name for subSubject in vm.subSubjects"
                    ng-change="vm.subSubjectSelected()"></select>
            </div>
        </div>
        <div ng-if="vm.selectedStudents.length > 0 && vm.subSubject >= 0" class="row">
            <div class="col-md-1 pull-right">
            </div>
            <div class="col-md-8 pull-right">
                <br>
                <div class="btn-toolbar pull-right">
                    <button type="button" class="btn btn-info" ng-click="vm.cancelAssignment()" 
                        data-toggle="tooltip" title="בטל משימה חדשה">בטל משימה</button>
                    <button type="button" class="btn btn-warning" ng-click="vm.addAssignment()" 
                        data-toggle="tooltip" title="הוסף משימה חדשה">הוסף משימה</button>
                </div>
            </div>
        </div>
        <div ng-if="vm.newAssignmentAdded" class="row">
            <div class="col-md-1 pull-right">
            </div>
            <div class="col-md-8 pull-right">
                <label>!הוסף בהצלחה</label>
            </div>
        </div>
        <br>
    </div>
    <br>
    <div class="well well-lg">
        <div class="row">
            <p><h2>:משימות פעילות</h2></p>
            <hr>
            <div ng-repeat="assignment in vm.myAssignments">
                <div class="form-group text-right">
                    <div class="row">
                        <div dir="rtl" class="col-md-2 pull-right">
                            <a ng-click="vm.assignmentClicked($index)" href="">{{assignment.subSubject[0].name}}</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

