<navigation></navigation>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="/stylesheets/style1.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">מתמטיקה בכיף</a></h1>
		</div>
	</div>
	<div id="menu">
		<ul>
			<li ng-if="vm.studentScreenMode != 'main'"><a ng-click="vm.newTabSelected('main')" href="#">דף ראשי</a></li>
			<li ng-if="vm.studentScreenMode == 'main'" class="current_page_item"><a ng-click="vm.newTabSelected('main')" href="#">דף ראשי</a></li>
			<li ng-if="vm.studentScreenMode != 'messages'"><a ng-click="vm.newTabSelected('messages')" href="#">הודעות</a></li>
			<li ng-if="vm.studentScreenMode == 'messages'" class="current_page_item"><a ng-click="vm.newTabSelected('messages')" href="#">הודעות</a></li>
			<li ng-if="vm.studentScreenMode != 'done'"><a ng-click="vm.newTabSelected('done')" href="#">משימות גמורות</a></li>
			<li ng-if="vm.studentScreenMode == 'done'" class="current_page_item"><a ng-click="vm.newTabSelected('done')" href="#">משימות גמורות</a></li>
			<li ng-if="vm.studentScreenMode != 'self'"><a ng-click="vm.newTabSelected('self')" href="#">משימות עצמיות</a></li>
			<li ng-if="vm.studentScreenMode == 'self'" class="current_page_item"><a ng-click="vm.newTabSelected('self')" href="#">משימות עצמיות</a></li>
			<li ng-if="vm.studentScreenMode == undefined || vm.studentScreenMode == 'homework'" class="current_page_item"><a ng-click="vm.newTabSelected('homework')" href="#">שעורי בית</a></li>
			<li ng-if="vm.studentScreenMode != undefined && vm.studentScreenMode != 'homework'"><a ng-click="vm.newTabSelected('homework')" href="#">שעורי בית</a></li>
		</ul>
	</div>
</div>
<!-- end #header -->
<div id="wrapper">
	<div id="page">
		<div ng-if="vm.studentScreenMode == 'assignment'">
			<div ng-include="'/student/my.assignment.view.html'"></div>			
		</div>
		<div ng-if="vm.studentScreenMode != 'assignment'">
			<div ng-include="'/student/my.assignments.view.html'"></div>
		</div>
	</div>
</div>
<div id="footer">
	<p>&copy; מתמתיכיף בע"מ, כל הזכויות שמורות</p>
</div>
<!-- end #footer -->
  vm.currentSelection - {{vm.currentSelection}}<br>
  vm.preReqNextStep - {{vm.preReqNextStep}}<br>
  vm.selectedAssignmentDone - {{vm.selectedAssignmentDone}}<br>
  vm.exercise.properties.resumeOriginalAssignment - {{vm.exercise.properties.resumeOriginalAssignment}}<br>
  vm.exercise._id - {{vm.exercise._id}}<br>
  vm.selectedAssignment.subSubject[0]._id - {{vm.selectedAssignment.subSubject[0]._id}}<br>
  vm.finalSelection - {{vm.finalSelection}}<br>
  vm.exercise - {{vm.exercise}}<br>
  vm.selectedAssignmentDone1 - {{vm.selectedAssignmentDone}}<br>
  vm.levelChange - {{vm.levelChange}}<br>
  vm.dependencies - {{vm.dependencies}}<br>
  vm.wrongAnswerNextStep - {{vm.wrongAnswerNextStep}}<br>
  vm.assistanceWarning - {{vm.assistanceWarning}}<br>
  vm.myAssignments - {{vm.myAssignments}}<br>
  vm.studentScreenMode - {{vm.studentScreenMode}}<br>
  vm.subSubjects - {{vm.subSubjects}}<br>
</div>
</body>
</html>
