<div class="container-fluid" ng-cloak>
    <div class="row">
      <div class="col-md-1 pull-right">
      </div>
      <div class="col-md-10 pull-right">
        <div class="well well-lg">
          <ul id="menu_area" class="nav nav-pills nav-justified custom">
            <li ng-if="vm.currentTab == 'profile'" class="active">
              <a class="nav-link btn-xlarge" ng-click="vm.currentTab = 'profile'" href="">אזור אישי</a>
            </li>
            <li ng-if="vm.currentTab != 'profile'">
              <a class="nav-link btn-xlarge" ng-click="vm.currentTab = 'profile'" href="">אזור אישי</a>
            </li>

            <li ng-if="vm.currentTab == 'stats'" class="active">
              <a class="nav-link btn-xlarge" ng-click="vm.currentTab = 'stats'" href="">סטטיסטיקות</a>
            </li>
            <li ng-if="vm.currentTab != 'stats'">
              <a class="nav-link btn-xlarge" ng-click="vm.currentTab = 'stats'" href="">סטטיסטיקות</a>
            </li>

            <li ng-if="vm.selectedAssignment == undefined" class="disabled">
                <a class="nav-link btn-xlarge" ng-click="vm.currentTab = 'current assignment'" href="">משימה נבחרת</a>
            </li>
            <li ng-if="vm.currentTab == 'current assignment' && vm.selectedAssignment != undefined" class="active">
                <a class="nav-link btn-xlarge" ng-click="vm.currentTab = 'current assignment'" href="">משימה נבחרת</a>
            </li>
            <li ng-if="vm.currentTab != 'current assignment' && vm.selectedAssignment != undefined">
              <a class="nav-link btn-xlarge" ng-click="vm.currentTab = 'current assignment'" href="">משימה נבחרת</a>
            </li>
            
            <li ng-if="vm.currentTab == 'assignments'" class="active">
              <a class="nav-link btn-xlarge" ng-click="vm.currentTab = 'assignments'" href="">ניהול משימות</a>                                                    
            </li>
            <li ng-if="vm.currentTab != 'assignments'">
              <a class="nav-link btn-xlarge" ng-click="vm.currentTab = 'assignments'" href="">ניהול משימות</a>                                                    
            </li>
          </ul>
        </div>
       </div>
</div>