<navigation></navigation>
<style>
  .btn {
      width:90px;
  }
</style>

<div class="container" ng-cloak>
  <div class="container text-right">
    <div class="row">
      <h2>:מערך הכנסת וידאו</h2>
    </div>
    <div class="row">
      <div class="col-md-4 pull-right">
        <h3>:בחר נושא</h3>
        <select dir="rtl" class="form-control" ng-model="vm.subject" 
            ng-options="vm.subjects.indexOf(subject) as subject.name for subject in vm.subjects">
        </select>
      </div>
      <div ng-if="vm.subject >= 0" class="col-md-4 pull-right">
        <h3>:בחר תת נושא</h3>
          <select dir="rtl" class="form-control" ng-model="vm.subSubject" 
              ng-options="vm.subjects[vm.subject].subSubjects.indexOf(subSubject) as subSubject.name for subSubject in vm.subjects[vm.subject].subSubjects">
          </select>
      </div>
    </div>      
    <br><hr>
    <div class="row">
      <div class="col-md-2 pull-right">
        <h3>:וידאו לימודי</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 pull-right">
          <div class="well well-sm">משוואות דיפרנציליות</div>
      </div>
      <div class="col-md-1 pull-right">
        <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-facetime-video"></span>
      </div>
      <div class="col-md-1 pull-right">
        <button class="btn btn-info">מחק </button>
      </div>
      <div class="col-md-1 pull-right">
        <button class="btn btn-info" >העלה </button>
      </div>
    </div>
    <br><hr>
    <div class="row">
      <div class="col-md-2 pull-right">
        <h3>:פתרונות לדוגמא</h3>
      </div>
    </div>

  </div>
</div>
