<navigation>

</navigation>

<div class="container text-right">
  <h1 class="form-signin-heading">:הרשמה</h1>
  <p class="lead">כבר רשום? <a href="login">תיכנס </a> כדי להשתמש</p>
  <form ng-submit="vm.onSubmit()">
    <div class="row">
      <div class="col-md-4 pull-right">
        <div class="form-group text-right">
          <label for="name">:שם משתמש</label>
          <input type="text" class="form-control text-right" id="name" placeholder="הכנס שם משתמש" ng-model="vm.credentials.name">
        </div>
        <div class="form-group">
          <label for="email">:כתובת אימייל</label>
          <input type="email" class="form-control text-right" id="email" placeholder="הכנס כתובת אימייל" ng-model="vm.credentials.email">
        </div>
        <div class="form-group">
          <label for="password">:סיסמה</label>
          <input type="password" class="form-control text-right" id="password" placeholder="הכנס סיסמה" ng-model="vm.credentials.password">
        </div>
        <div class="form-group">
          <label for="password">:אימות סיסמה</label>
          <input type="password" class="form-control text-right" id="verifyPassword" placeholder="הכנס שוב סיסמה" ng-model="vm.credentials.verifyPassword">
        </div>
        <button type="submit" class="btn btn-default">כניסה</button>
      </div>
      <div class="col-md-2 pull-right">
        <div class="form-group">
          <h5>:בחר/י תפקיד</h5>
          <label class="radio-inline"><input type="radio" ng-model="vm.credentials.role" value="teacher">מורה</label>
          <label class="radio-inline"><input type="radio" ng-model="vm.credentials.role" value="student">תלמיד</label>
        </div>
      </div>
      <div ng-show="vm.isTeacher()" class="col-md-3 pull-right">
        <div class="form-group">
          <label>:בחר/י בית ספר</label>
          <select class="form-control" ng-model="vm.credentials.school" ng-options="x for x in vm.schools"></select>
        </div>
      </div>
      <div ng-show="vm.isStudent()" class="col-md-3 pull-right">
        <label>:בחר/י מורה משוייכת</label>       
        <select class="form-control" ng-model="vm.selectedTeacher" ng-options="teacher.name for teacher in vm.teachers" ng-change="vm.teacherSelected()"></select>
      </div>
    </div>
  </form>
</div>
All Teachers: {{vm.teachers}}<br>
Selected Teacher: {{vm.selectedTeacher}}<br>
Credentials: {{vm.credentials}}<br>
