<navigation>

</navigation>

<div class="container text-right">
  <h1 class="form-signin-heading">:הרשמה</h1>
  <p class="lead">כבר רשום? <a href="login">תיכנס </a> כדי להשתמש</p>
  <form name="registrationForm" ng-submit="vm.onSubmit()">
    <div></div>
    <div class="row">
      <div class="col-md-4 pull-right">
        <div class="form-group text-right">
          <label for="name">:שם משתמש</label>
          <input type="text" name="name" class="form-control text-right" id="name" placeholder="הכנס שם משתמש" ng-model="vm.credentials.name" required>
          <div ng-messages="registrationForm.name.$error" ng-messages-include="messages.html"></div>
        </div>
        <div class="form-group">
          <label for="email">:כתובת אימייל</label>
          <input type="email" class="form-control text-right" name="emailInput" id="email" placeholder="הכנס כתובת אימייל" ng-model="vm.credentials.email">
        </div>
        <div class="form-group">
          <label for="password">:סיסמה</label>
          <input type="password" class="form-control text-right" id="password" placeholder="הכנס סיסמה" ng-model="vm.credentials.password">
        </div>
        <div class="form-group">
          <label for="password">:אימות סיסמה</label>
          <input type="password" class="form-control text-right" id="verifyPassword" placeholder="הכנס שוב סיסמה" ng-model="vm.credentials.verifyPassword">
        </div>
        <button type="submit" class="btn btn-info">שמירה</button>
<!--        <button type="submit" class="btn btn-info" 
          ng-disabled="vm.credentials.name == undifined || vm.credentials.name == '' ||
                       vm.credentials.email == '' || registrationForm.emailInput.$error.email ||
                       vm.credentials.password == undifined || vm.credentials.password == '' ||
                       vm.credentials.verifyPassword == undifined || vm.credentials.verifyPassword == '' ||
                       !((vm.credentials.role == 'teacher' && vm.school >= 0) || (vm.credentials.role == 'student' && vm.teacher >= 0))">שמירה</button>
-->
      </div>
      <div class="col-md-2 pull-right">
        <div class="form-group">
          <h5>:בחר/י תפקיד</h5>
          <label class="radio-inline"><input type="radio" ng-model="vm.credentials.role" value="teacher">מורה</label>
          <label class="radio-inline"><input type="radio" ng-model="vm.credentials.role" value="student">תלמיד</label>
        </div>
      </div>
      <div ng-show="vm.isTeacher()" class="col-md-3 pull-right">
        <div class="form-group">
          <label>:בחר/י בית ספר</label>
          <select class="form-control" ng-model="vm.school" ng-options="vm.schools.indexOf(school) as school.name for school in vm.schools"></select>
        </div>
      </div>
      <div ng-show="vm.isStudent()" class="col-md-3 pull-right">
        <label>:בחר/י מורה משוייכת</label>       
        <select class="form-control" ng-model="vm.teacher" ng-options="vm.teachers.indexOf(teacher) as teacher.name for teacher in vm.teachers"></select>
      </div>
    </div>
  </form>
</div>
All Teachers: {{vm.teachers}}<br><br>
All Schoolss: {{vm.schools}}<br><br>
Selected Teacher: {{vm.teacher}}<br><br>
Selected Student: {{vm.student}}<br><br>
Credentials: {{vm.credentials}}<br><br>
