<div class="row">
    <div class="col-md-4 pull-right" ng-show="vm.addingSubject">
        <div class="form-group text-right">
            <label>:שם הנושא </label>
            <input dir="rtl" type="text" class="form-control" ng-model="vm.newSubject.name" name="subjectName"><br>
            <label>:כיתה </label>
            <select dir="rtl" class="form-control" ng-model="vm.newSubject.schoolGrade" ng-options="idx as grade for (idx, grade) in vm.schoolGrades"></select><br>
            <label>:רמת לימוד </label>
            <select dir="rtl" class="form-control" ng-model="vm.newSubject.level" ng-options="idx as level for (idx, level) in vm.levels"></select><br>
            <button type="button" class="btn btn-info" ng-click="vm.cancelNewSubject()" data-toggle="tooltip" title="בטל הוספת נושא לימוד חדש">
                  <span class="glyphicon glyphicon-remove"></span></button>
            <button type="button" class="btn btn-info" ng-click="vm.addNewSubject()" data-toggle="tooltip" title="שמור נושא לימוד חדש"
                ng-disabled="(vm.newSubject.name == undefined) || (vm.newSubject.name == '') || !(vm.newSubject.schoolGrade >= 0) || !(vm.newSubject.level >= 0)">
                  <span class="glyphicon glyphicon-ok"></span></button>
        </div>
    </div>
    <div class="col-md-4 pull-right" ng-show="!vm.addingSubject">
    </div>
    <div class="col-md-4 pull-right" ng-show="vm.addingSubSubject">
        <div class="form-group text-right">
            <label>:שם התת נושא </label>
            <input dir="rtl" type="text" class="form-control" ng-model="vm.newSubSubject.name" name="subSubjectName"><br>
            <label>:קישור לוידאו הדרכה </label>
            <input dir="rtl" type="text" class="form-control" ng-model="vm.newSubSubject.tutorialVideo" name="subSubjectTutorialVideo"><br>
            <label>:קישור לוידאו פתרון דוגמה </label>
            <input dir="rtl" type="text" class="form-control" ng-model="vm.newSubSubject.sampleVideos" name="subSubjectSampleVideos"><br>
            <button type="button" class="btn btn-info" ng-click="vm.cancelNewSubSubject()" data-toggle="tooltip" title="בטל הוספת תת נושא לימוד חדש">
                  <span class="glyphicon glyphicon-remove"></span></button>
            <button type="button" class="btn btn-info" ng-click="vm.addNewSubSubject()" data-toggle="tooltip" title="שמור תת נושא לימוד חדש"
                ng-disabled="(vm.newSubSubject.name == undefined) || (vm.newSubSubject.name == '')">
                  <span class="glyphicon glyphicon-ok"></span></button>
        </div>
    </div>
</div>