<!-- Modal -->
<div class="modal fade" id="confirmationModal" role="dialog">
    <div class="modal-dialog"> 
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">אישור מחיקה</h2>
            </div>
            <div class="modal-body">
                <h3 ng-if="vm.confirmationFor == 'exercise'" class="modal-title">אנא אשר מחיקת התרגיל הנבחר</h3><br>
                <h3 ng-if="vm.confirmationFor == 'subSubject'" class="modal-title">אנא אשר מחיקת תת הנושא הנבחר</h3><br>
                <h3 ng-if="vm.confirmationFor == 'subject'" class="modal-title">אנא אשר מחיקת הנושא הנבחר</h3><br>
            </div>
            <div class="modal-footer">
                <button ng-if="vm.confirmationFor == 'exercise'" type="button" class="btn btn-danger" ng-click="vm.removeExercise()" data-dismiss="modal">אישור</button>
                <button ng-if="vm.confirmationFor == 'subSubject'" type="button" class="btn btn-danger" ng-click="vm.removeSubSubject()" data-dismiss="modal">אישור</button>
                <button ng-if="vm.confirmationFor == 'subject'" type="button" class="btn btn-danger" ng-click="vm.removeSubject()" data-dismiss="modal">אישור</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">ביטול</button>
            </div>
        </div>       
    </div>
</div>