<div class="col-md-6 pull-right">
    <div ng-show="vm.addingExercise || vm.addingExerciseStep" class="well well-lg">
        <label>:הכנס תרגיל</label>
        <div>
            <div ng-if="vm.newExercise.body.length == 0">
                <label class="btn btn btn-info" ng-click="vm.addTextArea()">הוספת טקסט</label>
                <label for="files" class="btn btn btn-info">הוספת תמונה</label>
                <input id="files" type="file" style="visibility:hidden;" ngf-select="vm.addPicture()" ng-model="vm.picFile" name="file" accept="image/*"
                ngf-max-size="2MB" ngf-model-invalid="errorFile">
                <img ngf-thumbnail="vm.newExercise.body[0].content" class="thumb">
                <div ng-if="!vm.addingExerciseStep" dir="rtl">
                    <input type="checkbox" ng-model="vm.multiStageExercise"/>
                    <label>תרגיל רב שלבי</label><br>
                </div>
                <br>
            </div>
            <div ng-repeat="obj in vm.newExercise.body">
                <div ng-if="obj.type == 'text'" class="row">
                <div class="col-md-1 pull-right">
                    <button ng-hide="vm.addingExerciseStep && vm.isBaseStep($index)" type="button" class="btn btn-info" ng-click="vm.removeTextArea($index)" data-toggle="tooltip" title="מחק טקסט">
                            <span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="col-md-10 pull-right">
                    <textarea dir="auto" class="form-control" rows="5" placeholder="Add Message" ng-model="obj.content" ng-disabled="vm.addingExerciseStep && vm.isBaseStep($index)" focus-me>{{obj.content}}</textarea>
                </div>
                <br>
                </div>
                <div ng-if="obj.type == 'picture'" class="row">
                <div class="col-md-1 pull-right">
                    <button ng-hide="vm.addingExerciseStep && vm.isBaseStep($index)" type="button" class="btn btn-info" ng-click="vm.removePicture($index)" data-toggle="tooltip" title="מחק תמונה">
                            <span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="col-md-10 pull-right">
                    <img ngf-thumbnail="obj.content" class="thumb">
                </div>
                </div>
                <div ng-if="$index == vm.newExercise.body.length - 1" class="row">
                <div class="col-md-8 center">
                    <br>
                    <label class="btn btn btn-info" ng-click="vm.addTextArea()">הוספת טקסט</label>
                    <label for="files" class="btn btn btn-info">הוספת תמונה</label>
                    <input id="files" type="file" style="visibility:hidden;" ngf-select="vm.addPicture()" ng-model="vm.picFile" name="file" accept="image/*"
                    ngf-max-size="2MB" ngf-model-invalid="errorFile">
                </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div ng-if="vm.newExercise.body.length > 0" class="well well-lg">
        <label>:סיום</label>
        <div>
            <button type="button" class="btn btn-info" ng-click="vm.cancelNewExercise()" data-toggle="tooltip" title="בטל הוספת תרגיל חדש">
                <span class="glyphicon glyphicon-remove"></span></button>
            <button type="button" class="btn btn btn-warning" ng-click="vm.addNewExercise()" data-toggle="tooltip" title="שמור תרגיל חדש">
                <span class="glyphicon glyphicon-ok"></span></button>
            <div ng-if="!vm.formValid && vm.answerType == 'closed'">
                <div class="text-danger">&nbsp;&nbsp;התרגיל חייב להכיל לפחות טקסט או תמונה אחת, ושתי תשובות ראשונות&nbsp;&nbsp;</div>
            </div>    
            <div ng-if="!vm.formValid && vm.answerType == 'open'">
                <div class="text-danger">&nbsp;&nbsp;התרגיל חייב להכיל לפחות טקסט או תמונה אחת, ותשובה נכונה&nbsp;&nbsp;</div>
            </div>   
        </div>
    </div> 
</div>