<div class="row">
    <h2>:מסך הכנסת תרגיל&nbsp;&nbsp;</h2>
</div>
<div class="well well-lg">
    <div class="row">
        <div class="col-md-3 pull-right">
            <label>:בחר נושא</label>
            <select dir="rtl" name="subject" class="form-control form-fixer" ng-model="vm.subject" ng-options="vm.subjects.indexOf(subject) as subject.name for subject in vm.subjects"
                ng-change="vm.subjectSelected()">
            </select>
        </div>
        <div ng-if="vm.subject >= 0" class="col-md-3 pull-right">
            <label>:בחר תת נושא</label>
            <select dir="rtl" class="form-control form-fixer" ng-model="vm.subSubject" ng-options="vm.subSubjects.indexOf(subSubject) as subSubject.name for subSubject in vm.subSubjects"></select>
        </div>
        <div ng-if="vm.subSubject >= 0" class="col-md-2 pull-right">
            <label>:בחר רמת קושי</label>
            <select dir="rtl" class="form-control form-fixer" ng-model="vm.level" ng-options="idx as level for (idx, level) in vm.levels"></select>
        </div>
        <div ng-if="vm.level >= 0" class="col-md-2 pull-right">
            <label>:בחר תרגיל</label>
            <select dir="rtl" class="form-control form-fixer" ng-model="vm.exercise" ng-options="idx as level for (idx, level) in vm.exercises"></select>
        </div>
        <div ng-if="vm.exercise >= 0" class="col-md-2 pull-right">
            <label>:עזרים</label>
            <select dir="rtl" class="form-control form-fixer" ng-model="vm.learningTools" ng-options="idx as level for (idx, level) in vm.learningTools"></select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 pull-right">
            <div class="btn-toolbar pull-right">
                <button type="button" class="btn btn-info" ng-click="vm.viewSelectedSubject()" ng-disabled="vm.addingSubject" data-toggle="tooltip"
                    title="פרטים על נושא הלימוד הנבחר">
                    <span class="glyphicon glyphicon-info-sign"></span></button>
                <button type="button" class="btn btn-info" ng-click="vm.editSubject()" ng-disabled="vm.addingSubject" data-toggle="tooltip"
                    title="עדכן נושא לימוד נבחר">
                <span class="glyphicon glyphicon-edit"></span></button>
                <button type="button" class="btn btn-info" ng-click="vm.removeSubject()" ng-disabled="vm.addingSubject" data-toggle="tooltip"
                    title="מחק נושא לימוד נבחר">
                <span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-warning" ng-click="vm.addSubjectClicked()" ng-disabled="vm.addingSubject" data-toggle="tooltip"
                    title="הוסף נושא לימוד חדש">
                <span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <br>
        </div>
        <div class="col-md-3 pull-right" ng-show="vm.subject >= 0">
            <div class="btn-toolbar pull-right">
                <button type="button" class="btn btn-info" ng-click="vm.viewSelectedSubject()" ng-disabled="vm.addingSubSubject" data-toggle="tooltip"
                    title="פרטים על תת נושא הלימוד הנבחר">
                    <span class="glyphicon glyphicon-info-sign"></span></button>
                <button type="button" class="btn btn-info" ng-click="vm.editSubSubject()" ng-disabled="vm.addingSubSubject" data-toggle="tooltip"
                    title="עדכן תת נושא לימוד נבחר">
                <span class="glyphicon glyphicon-edit"></span></button>
                <button type="button" class="btn btn-info" ng-click="vm.removeSubSubject()" ng-disabled="vm.addingSubSubject" data-toggle="tooltip"
                    title="מחק תת נושא לימוד נבחר">
                <span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-warning" ng-click="vm.addSubSubjectClicked()" ng-disabled="vm.addingSubSubject" data-toggle="tooltip"
                    title="הוסף תת נושא לימוד חדש">
                <span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <br>
        </div>
        <div class="col-md-2 pull-right" ng-show="vm.subSubject >= 0">
            <div class="btn-toolbar pull-right">
                <button type="button" class="btn btn-info" ng-click="vm.viewSelectedLevel()" data-toggle="tooltip" title="פרטים על רמת הקושי הנבחרת">
                    <span class="glyphicon glyphicon-info-sign"></span></button>
            </div>
            <br>
        </div>
        <div class="col-md-2 pull-right" ng-show="vm.level >= 0">
            <div class="btn-toolbar pull-right">
                <button type="button" class="btn btn-info" ng-click="vm.viewSelectedExercise()" ng-disabled="vm.addingExercise" data-toggle="tooltip"
                    title="פרטים על התרגיל הנבחר">
                    <span class="glyphicon glyphicon-info-sign"></span></button>
                <button type="button" class="btn btn-info" ng-click="vm.editExercise()" ng-disabled="vm.addingExercise" data-toggle="tooltip"
                    title="עדכן תרגיל נבחר">
                <span class="glyphicon glyphicon-edit"></span></button>
                <button type="button" class="btn btn-info" ng-click="vm.removeExercise()" ng-disabled="vm.addingExercise" data-toggle="tooltip"
                    title="מחק תרגיל נבחר">
                <span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-warning" ng-click="vm.addExerciseClicked()" = true" ng-disabled="vm.addingExercise" data-toggle="tooltip"
                    title="הוסף תרגיל חדש">
                <span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <br>
        </div>
        <div class="col-md-2 pull-right" ng-show="vm.exercise >= 0">
            <div class="btn-toolbar pull-right">
                <button type="button" class="btn btn-info" ng-click="vm.viewSelectedLearingTool()" data-toggle="tooltip" title="פרטים על העזר הנבחר">
                    <span class="glyphicon glyphicon-info-sign"></span></button>
                <button type="button" class="btn btn-info" ng-click="vm.editLearingTool()" data-toggle="tooltip" title="עדכן עזר נבחר">
                    <span class="glyphicon glyphicon-edit"></span></button>
            </div>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 pull-right">
            <label ng-show="vm.newSubjectAdded">!הוסף בהצלחה</label>
        </div>
        <div class="col-md-3 pull-right">
            <label ng-show="vm.newSubSubjectAdded" >!הוסף בהצלחה</label>
        </div>
        <div class="col-md-2 pull-right">
        </div>
        <div class="col-md-2 pull-right">
            <label ng-show="vm.newExerciseAdded" >!הוסף בהצלחה</label>
        </div>
        <div class="col-md-2 pull-right">
        </div>
    </div>
</div>
</div>
<br>