<div class="container-fluid" ng-cloak>
    <div class="row">
      <div class="col-md-1 pull-right">
      </div>
      <div class="col-md-8 pull-right">
        <ul class="nav nav-pills navbar-right">
          <li class="nav-item">
            <a class="nav-link  btn-xlarge" ng-click="vm.currentTab = 'profile'" href="#">אזור אישי</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-xlarge" ng-click="vm.currentTab = 'stats'" href="#">סטטיסטיקות</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-xlarge" ng-click="vm.currentTab = 'data'" href="#">הכנסת נתונים</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-xlarge active" ng-click="vm.currentTab = 'assignments'"  href="#">ניהול משימות</a>
          </li>
        </ul>
      </div>
    </div>
</div>
